h1{
 font-size:40px;
}


h2{
  font-weight: 0;

}

h3{

}

h5{

}


body {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;

}

.navbar ul{
  list-style-type: none;
  background-color:#FFDBBB;
  padding: 0px;
  margin:0px;
  display:flex;
  align-items:center;
  justify-content:space-between;

}

.navbar a{
  color: black;
  text-decoration:none;
  padding:25px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color:#CCBEB1;
  dispaly:block;
}
.navbar li{
  float:left; 
  overflow:hidden; 
  margin: 0 10px; 
}

@media (max-width:600px) {
  .navbar {
    flex-direction:column;
    align-items:flex-start;
  }
}


/* Secció de es títol */

.primer-section section{
   background:lightgray;
   height:380px;
   widht:100%;
   display:flex;
   justify-content: center;
   margin:0;
   padding:0;

     
}

.minute-magic {
  
  padding:0px;
  margin:0;
  margin-left:5%;
 
  
}

.minute-magic ul {
  list-style-type: none;
  padding: 0px;
  margin:10px;
  margin-right: 20%;
}

.boto1 {

  height:30px;
  border: 2px solid hotpink;
  border-radius: 25px;
  background:transparent;
  cursor:pointer;
  
}


/*Navbar 2*/

.navbar2 ul{
  list-style-type: none;
  background-color:;
  padding: 0px;
  margin:0px;
  
}

.navbar2 a{
  color: black;
  text-decoration:none;
  padding:25px;
  display: block;
  text-align: center;
}
.navbar2 a:hover{
  background-color:#B3B3B3;
}

.navbar2 li{
  float:left;   
}


/* Seccio Latest recipe */

.centra-titol {
  margin-top: 13%;
  margin-left: 5%;
  
}

.recipes-container {

 display:flex; 
 justify-content:center;
 align-items:flex-start;
 flex-direction:row;
 margin: 0 5%;
 gap: 10px;
 
}
  
.section-recipe, .section-recipe2 {
  flex: 1 1 45%;
  overflow:hidden;
  

}

@media (max-width:600px) {
  .recipes-container {
    flex-direction:column;
    align-items: center;
    
  }
}
  
/* Article */

.rectangle {
  margin: 10%;
  background-color: lightcoral;
  width:80%;
  justify-content:center;
  align-items:flex-start;
  border-radius: 25px;
  height: 140px;
  display: flex;
  padding:20px;
  box-sizing:border-box;
}

@media (max-width:600px) {
  .rectangle {
    flex-direction:column;
    align-items: center;
    
  }
}
 
.center-never{
  max-width:90%;
} 

.button3 {
  background-color:floralwhite;
  border: solid black;
  padding: 4px 35px;
  text-align: center;
  fontsize: 12px;
  cursor:pointer;
  border-radius:10px;
}

/* Popula section */

.separa{
  padding: 10px;


}

/*Jhone Doe section */

.jhonsection{
  background:pink;
   height:280px;
   width:100%;
   display:flex;
   justify-content: center;
   align-items:center;
   margin:0;
   padding:0;
  border: 1px solid black;
  overflow:hidden;

}


.jhondoe {
  margin-right: 20%;
  box-sizing: border-box;
  overflow: hidden;
  display:flex;
  justify-content: space-between;
  width:80%;
  align-items:center;

}

.jhondoe ul{
  list-style-type: none;
  padding: 0px;
  margin:100px;
  margin-left:10px;
   max-width:40%;
}   

.jhondoe img {
  max-width:40%;
  overflow:hidden;

}

/*darrera secció*/

.lastnav img {
   max-width:20%;
  overflow:hidden;
}  


.lastnav ul{
  list-style-type: none;
  background-color:#FFDBBB;
  padding: 0px;
  margin:0px;
  overflow: hidden;

}

.lastnav a{
  color: black;
  text-decoration:none;
  padding:25px;
  display: block;
  text-align: center;
}
.lastnav a:hover{
  background-color:#CCBEB1;
}
.lastnav li{
  float:left; 
  overflow:hidden;  
}

/*media*/

@media (max-width:300px){
