h1{
 font-size:40px;
}


h2{
  font-weight: 0;

}

h3{

}

h5{

}




body {
  margin-top:0px;
  margin-left:0px;
  margin-right:0px;

}

.navbar ul{
  list-style-type: none;
  background-color:#FFDBBB;
  padding: 0px;
  margin:0px;
  overflow: hidden;

}

.navbar a{
  color: black;
  text-decoration:none;
  padding:25px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color:#CCBEB1;
}
.navbar li{
  float:left;   
}

/* Secció de es títol */

.primer-section section{
   background:lightgray;
   height:380px;
   widht:100%;
   display:flex;
   justify-content: center;
   margin:0;
   padding:0;

     
}

.minute-magic {
  
  padding:0px;
  margin:0;
  margin-left:5%;
 
  
}

.minute-magic ul {
  list-style-type: none;
  padding: 0px;
  margin:10px;
  margin-right: 20%;
}

.boto1 {

  height:30px;
  border: 2px solid hotpink;
  border-radius: 25px;
  background:transparent;
  
}


/*Navbar 2*/

.navbar2 ul{
  list-style-type: none;
  background-color:;
  padding: 0px;
  margin:0px;
  
}

.navbar2 a{
  color: black;
  text-decoration:none;
  padding:25px;
  display: block;
  text-align: center;
}
.navbar2 a:hover{
  background-color:#B3B3B3;
}

.navbar2 li{
  float:left;   
}


/* Seccio Latest recipe */

.centra-titol {
  margin-top: 13%;
  margin-left: 5%;
  

}

.recipes-container {

 display:flex; 
 justify-content:center;
 align-items:flex-start;
 flex-wrap:wrap;
 align-items:flex-start;
 margin: 0 5%;
 gap: 20px;
 
}
  
.section-recipe, .section-recipe2 {
  flex: 1 1 45%;
  overflow:hidden;
  box-sizing: border-box;

}
  

 
 
